
/* 카페메뉴 css설정 */
#header{
    height: 125px; 
    text-align: center;
    padding: 50px;
    color: white;
    background-color: teal;
}
#nav2{    
    width: 31%;
    height: 700px;
    float: left;
    margin-left: 50px;
}
#nav2 #selectMenu{
    width: 250px;
    padding-left: 10px;
    padding-top: 5px;
    border: solid 1px black;
}
#nav2 #orderBlock{
    width: 250px;
    padding-left: 10px;
    border: solid 1px black;
}
#sectionMenu2{
    width: 30%;
    height: 700px;
    float: left;
    
}
#section2{
    width: 30%;
    height: 700px;
    float: left;
    margin-left: 40px; 
}
#sellOrder{
    border: solid 1px black;
    width: 300px;
    height:500px;
    font-size: 18px;
    font-weight: bold;
}
