@charset "UTF-8";
/* 출력창 스타일 */
.output {
    background-color: rgb(194, 194, 194);
    padding: 15px;
    width: 255px;
    text-align: right;
    font-size: 20px;
}
/* //출력창 스타일 */
/* 버튼 스타일 */
input {
    padding: 10px;
    width: 67px;
    height: 45px;
    margin-top: 10px;
    background-color: rgb(194, 194, 194);
    color: black;
    font-size: 23px;
    border: 0px;
}

/* //버튼 스타일 */
/* 커서확인시 버튼 배경색 변경 */
input:hover {
    cursor: pointer;
    background-color: rgb(182, 178, 178);
}
input:active {
    background-color: rgb(136, 136, 136);
}
/* //커서확인시 버튼 배경색 변경 */